.userlog-container{
    
    width: 60%;
   
    height: 100%;
    
    background-color: white;
    border-radius: 6px;
    
}
.userloginreg-cont{
    
    height: 100vh;
    padding:0;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid rgb(187, 33, 33);
    
    
}
.userloginreg-cont .userlogregflex{
    height: 90%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
   
    

}

.login-image-container{
    height: 100%;
    width: 50%;
}

.login-image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.userlog-container h1 {
    text-align: center;
    padding: 20px;
}
.userlog-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.userlog-container form input{
    height: 30px;
    width: 250px;
    outline: none;
    border-radius: 6px;
    border: none;
    background-color: rgb(192, 189, 189);
    text-align: center;
}

.userlog-container form button {
    width: 90px;
    height: 30px;
    background-color: rgb(26, 107, 214);
    border: none;
    border-radius: 6px;
    color:white;
}

.userlog-container form .reg{
    display: flex;
 
    gap:50px;
   
}

.errors {
    padding:20px 200px;
    color:red;
    font-size:16px;
}



@media screen and (max-width: 500px) {
    .login-image-container img {
        display: none;
    }
    .userlogregflex{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .userlog-container{
        width: 100%;
      
      
    }
}
