.nav-container{
    background-color: #c0b7fc;
    display: flex;
    justify-content: space-between;
    padding:0px 50px;

}
.nav-container p{
    font-size: 25px;
}
.homelink{
    text-decoration: none;
   
   
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 90px;
    height: 90px;
}
.homelink img{
    width: 50px;
    height: 50px;
    margin-top: 5px;
}


.nav-container ul{
    display: flex;
    gap:20px;
}
.nav-container ul .link{
    

    text-decoration: none;
    font-size: 20px;
    text-transform: capitalize;
    transition: all 0.3s ease;
    padding: 15px 0;
    font-weight: 600;
    color: black;
    
}
.nav-container ul .link:hover{
    color: #7764F1;
    


}

.nav-container ul .button{
    background-color:transparent;
    border: none;
    color: black;
    font-weight: 600;
    text-decoration: none;
    font-size: 18px;
    text-transform: capitalize;
    transition: all 0.3s ease;
    padding-bottom: 5px;
    cursor: pointer;

}

.footer-container{
    background-color: rgb(14, 13, 13);
    display: flex;
    justify-content: center;
    padding:15px 50px;
    color:white;

}

.admin-logo{
    padding-top:10px;
}

.admin-logo p .link{
    text-decoration: none;
    color: black;
    font-weight: 600;
    cursor: pointer;
}

@media screen and (max-width: 500px) {

    .nav-container{
        padding: 0 5px;
        display: flex;
        justify-content: space-between;
        gap: 5px;
    }

    .nav-container ul .link{
    

        text-decoration: none;
        font-size: 16px;
        text-transform: capitalize;
        transition: all 0.3s ease;
        padding: 15px 0;
        font-weight: 600;
        color: black;
        
    }
    .nav-container ul{
        display: flex;
        gap:5px;
    }
}