.adminpanel-container{
   
    display: flex;
    justify-content: space-evenly;
    padding:40px 0;
    
   

}


.adminpanel-container .admin-order{
    
    width: 300px;
    height:150px;
    background-color: #007BFF;
    position: relative;
    text-align: center;
    padding: 30px 0;
    font-size: 30px;
    border-radius: 10px;
    font-weight: 600;

}
button{
    border: none;
}
.adminpanel-container .admin-order button{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: transparent;
    border-top:3px solid rgb(6, 6, 94);
    cursor: pointer;
    
}

.adminpanel-container .admin-user{
    
    width: 300px;
    height:150px;
    background-color: #FFC108;
    position: relative;
    text-align: center;
    padding: 30px 0;
    font-size: 30px;
    border-radius: 10px;
    font-weight: 600;
    
}
.adminpanel-container .admin-user button{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: transparent;
    border-top:3px solid rgb(68, 68, 4);
    cursor: pointer;
    
}

.adminpanel-container .admin-food{
    
    width: 300px;
    height:150px;
    background-color: #26813F;
    position: relative;
    text-align: center;
    padding: 30px 0;
    font-size: 30px;
    border-radius: 10px;
    font-weight: 600;
}
.adminpanel-container .admin-food button{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    color:white;
    background-color: transparent;
    border-top:3px solid rgb(3, 44, 3);
    cursor: pointer;
    
}

.adminpanel-container .admin img{
    width: 100%;
}

.admin-user-dashboard-collection{
    
    padding:30px 60px;
    
}
.admin-user-dashboard-collection h3{
    text-align: center;
  
    padding-bottom: 20px;
}

.admin-user-dashboard-collection .admin-user-dashboard{
   
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin: 5px;
}




















.admin-user-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-start;
    gap: 20px;
    padding: 20px 40px;
}





.admin-singleuser{
    border-radius: 6px;
    width: 300px;
    height: 375px;
    background-color: rgb(218, 216, 216);
    position: relative;
}

.admin-singleuser .user-image-profile{
    width: 300px;
    height: 200px;
}


.admin-singleuser .user-image-profile  img{
    object-fit: cover;
    border-radius: 6px;
    width: 100%;
    height: 100%;
}

.admin-singleuser p{
    padding: 10px;
}







.Admin_add_Food{
    background-color: rgb(226, 225, 225);
    padding: 20px;
}


.admin-addFooditem-container{

    padding: 50px 0px;
    height: 100vh;
    width: 40%;
    margin: 20px auto;
    text-align: center;
    background-color: white;
    /* border-top:1px solid black;
    border-left:1px solid black;
    
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3); */
    
    
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), -5px -5px 10px rgba(22, 20, 20, 0.3);
}


.admin-addFooditem-container h2{
    padding: 20px 0;
    color: rgb(7, 7, 7);
}

.admin-addFooditem-container .admin-food-form{
    display: flex;
    flex-direction: column;
    gap:20px;
    color: rgb(24, 23, 23);
    text-align: center;
    text-transform: capitalize;
}

.admin-addFooditem-container .admin-food-form input, option, select{
    margin-top: 5px;
    width: 400px;
    height: 30px;
    outline: none;
    
    border:none;
    background-color: rgb(202, 200, 200);
    text-align: center;
    

}

.admin-addFooditem-container .admin-food-form button{
    width: 90px;
    height: 30px;
    cursor: pointer;
    border:none;
    border-radius: 6px;
    background-color: blue;
    color: white;
    text-align: center;
    margin-left: 200px;
}
.admin-order-items{
    border: 1px solid black;
    margin: 20px 50px;
    padding: 30px;
}

h1{
    text-align: center;
    margin: 30px 0;
    
}


@media screen and (max-width: 500px) {
    .adminpanel-container{
   
        display: flex;
        justify-content: space-evenly;
        padding:40px 0;
        border: 1px solid black;
        gap:10px;
       
    
    }
    
    
    .adminpanel-container .admin-order{
        
        width: 200px;
        height:100px;
        background-color: #007BFF;
        position: relative;
        text-align: center;
        padding: 5px 0;
        font-size: 20px;
        border-radius: 10px;
        font-weight: 600;
    
    }
    .adminpanel-container .admin-user{
    
        width: 200px;
        height:100px;
        background-color: #FFC108;
        position: relative;
        text-align: center;
        padding: 5px 0;
        font-size: 20px;
        border-radius: 10px;
        font-weight: 600;
        
    }
    
    
    .adminpanel-container .admin-food{
        
        width: 200px;
        height:100px;
        background-color: #26813F;
        position: relative;
        text-align: center;
        padding: 5px 0;
        font-size: 20px;
        border-radius: 10px;
        font-weight: 600;
    }

    .admin-user-dashboard-collection{
    
        padding:30px 0px;
        border: 1px solid black;
        
    }
    .admin-user-dashboard-collection .admin-user-dashboard{
   
        display: flex;
        justify-content: space-evenly;
        padding: 10px;
        margin: 5px;
        font-size: 12px;
    }

    .admin-addFooditem-container{

        padding: 10px 0px;
        height: 100vh;
        width: 100%;
        margin: 20px auto;
        text-align: center;
        background-color: white;
        /* border-top:1px solid black;
        border-left:1px solid black;
        
        box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3); */
        
        
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), -5px -5px 10px rgba(22, 20, 20, 0.3);
    }
    .admin-addFooditem-container .admin-food-form input, option, select{
        margin-top: 5px;
        width: 250px;
        height: 30px;
        outline: none;
        
        border:none;
        background-color: rgb(202, 200, 200);
        text-align: center;
        
    
    }
}

.handle_button_search button{
    background-color: rgb(122, 122, 216);
    margin: 10px;
    padding: 10px;
    color:white;
    border-radius: 6px;
}

.category-container{
    text-align: center;
    height: 80vh;
    padding-top:100px;

}

.category-insert input{
    font-size: 30px;
   

    
}

.category-insert button{
    background-color: blue;
    height: 30px;
    margin-top: 10px;
    color:white;
    border-radius: 6px ;
    padding: 10px;
}